/* Jets Styles Start */

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Headers */

h1 {
    text-align: center;
    color: white;
    margin-bottom: 2%;
}

h2.red {
    background: linear-gradient(to right, red, white);
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    margin: 0%;
}

/* Lists */

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

li {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1%;
}

img.small {
    width: 25%;
}

.text-centered {
    text-align: center;
}

/* Margins */

.margin-top {
    margin-top: 6%;
}

.margin-bottom {
    margin-bottom: 4%;
}

/* Custom "--angle" value */

@property --angle {  /* --angle was created by me (Luka) and is a custom value that only exist here */
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin { /* Animation for spinning around your own axis (eigene Achse) */
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* Back Button */

.btn1 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: black;
    background-color: #333;
    border: 10px solid var(--clr-accent);
    border-radius: 5px;

    /* Longer, more detailed Version
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    */

    transition: transform 0.3s, background-color 0.3s; /* Shorter version, ease and 0s are default values */
    /* transition: all 0.3s; would also be able to go */
}

.btn1:hover {
    transform: translateY(-10px); /* Y for up and down, X for left and right, 
    imagine it like a coordinate system (Koordinatensystem) but "-" goes up or left and "+" goes down or right */
    background-color: #444;
}

/* Container */

.jet-info-container {
    display: flex;
    align-items: center;
    gap: 3%; /* Distance between jet-info-container (text) and bild-container (picture) */
    margin-bottom: 20px;
    width: 99%;
}   

.jet-info {
    flex: 1;
    width: 70%;
    margin-bottom: 1%;
    margin-left: 3%;
    background-color: var(--clr-accent);
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    padding: 10px;
    text-align: left;

    transition: all 1s ease;
}

.jet-info:hover {
    transform: scale(1.02); /* Box is expanded a little */
    background-color: rgb(36, 36, 36); /* Background colour changes */
}

.bild-container {
    width: 30%;
    height: 30%;
    position: relative;
    top: 5px;
    display: flex;
}

.bild-container img{
    position: absolute;
}

.bild-container img {
    width: 100%;
    height: 20rem;
    transition: opacity 0.5s ease; /* 0.5 second transition-length from one picture to the other */
}

.bild-container img.vor { /* Image if you don't hover over it */
    position: relative;
    opacity: 1; /* 1 opacity means visible */
}

.bild-container img.hinter { /* Image appears when you hover over it */
    position: fixed;
    opacity: 0; /* 0 opacity means invisible */
    width: 30%;
}

.bild-container:hover img.vor {
    opacity: 0; /* Front image is invisible */
}

.bild-container:hover img.hinter {
    opacity: 1; /* Back image is shown */
}

.bild-shadowed-round-borders {
    border-radius: 8px;     /* Rounded Borders */
    /* In combination with the red Border the colour-strength is weakened */
    box-shadow: 0 2px 10px black;
}

/* Card Containers */

.bild-container.card {
    margin: 0 auto;
    padding: 0.3%;
    text-align: center;
    border-radius: 1%;
    position: relative;
}

.bild-container.card::after, .bild-container.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), rgb(63, 0, 0), rgb(255, 56, 56), rgb(63, 0, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.5%;
    border-radius: 3%;
    animation: 3s spin linear infinite;
}

.bild-container.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

/* Bounce animation, element bounces up and down */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20%);
    }

    60% {
        transform: translateY(-20%);
    }
}

.bounce {
    animation: bounce 1.5s ease 1;
}

/* Colors that passes over from left (red) to right (white) */

.red-to-white {
    background: linear-gradient(to right, red, white);
    background-clip: text;
    color: transparent;
}

/* Animationen for "hidden" and "show" elements */

.hidden1 {
    opacity: 0;
    filter: blur(5px); /* Content is shown blury */
    transform: translateY(100%); /* Box is coming up */
    transition: all 1s;
}

.show1 {
    opacity: 1;
    filter: blur(0); /* Content is shown cleary */
    transform: translateY(0); /* Box is placed in the center height */
}

/* CSS equivalent to the Javasrcipt Method for "hidden" and "show": BUT "animation-timeline: view()" highly experimental doesn't work on all browsers 
only Chrome suported one's, ass of 29.11.2024 (Stand 29.11.2024) */

@keyframes appear {
    from {
        opacity: 0;
        filter: blur(5px); /* Content is schown blury */
        transform: translateY(100%); /* Box is coming up */
        transition: all 1s;
    }
    to {
        opacity: 1;
        filter: blur(0); /* Content is shown cleary */
        transform: translateY(0); /* Box is placed in the center height */
    }
}

.block {
    animation: appear linear;
    animation-timeline: view(); /* HIGHLY experimental!!! */
    animation-range: entry 0% cover;
}

/* Icons */

.left-margin-for-first-icon {
    margin-left: 25%;
}

.homeButton_For_Jets {
    color: whitesmoke;
    position: fixed;
    display: inline-block;
    transition: 0.3s;
    width: 64px;
    height: 64px;
    margin-left: 0.55%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Navbar */

.navbar {
    background-color: #333;
    padding-top: 1%;
    position: fixed;
    bottom: 0; /* On which position it's going to be displayed */
    width: 100%;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.5s;
}

.nav-list a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Jets Styles End */