* {
    color: whitesmoke;
}

body {
    background-image: radial-gradient(at top left, black, #262626);
    background-repeat: no-repeat;
    font-family: Bahnschrift, serif;
    overflow-x: hidden;
}

img.small {
    width: 30%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

h2 {
    font-weight: bold;
    margin-top: 2rem;
    padding: 1rem;
}

p {
    font-size: 25px;
    padding: 1rem;
}

h2.header {
    text-align: center;
}

span.cool {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 0.5rem;
}

rem {
    color: red;
    font-size: 2.1rem;
    text-decoration: underline;
}

#lastSentence {
    padding: 0;
}

p.red {
  color: red;
  text-align: center;
}

p.blue {
  color: blue;
  text-align: center;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
}

.text-overlay {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-container {
    display: block;
    width: 100%;
    height: auto;
}

#homeButton {
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: opacity 0.5s ease;
}

#homeButton {
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: opacity 0.5s ease;
}

.homeButton_For_Jets {
    color: whitesmoke;
    position: fixed;
    display: inline-block;
    transition: 0.3s;
    width: 64px;
    height: 64px;
    margin-left: 0.55%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1
{
    font-size: 400%;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    position: relative;
    top: 10px;
}

h1.header {
    font-size: 250%;
    text-decoration: underline;
}

div.MenuHeader img {
    position: absolute;
    left: 0;
    width: 100%;
    filter: brightness(50%);
}

div.MenuItem {
    position: relative; /* Position the background text */
    left: -0.5rem;
    color: rgba(239, 239, 239, 0.94); /* Grey text */
    width: 100%; /* Full width */
    padding: 17% 0.5rem; /* Some padding */
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    font-family: Monospaced;
    overflow: hidden;
}

div.MenuHeader {
    transition: filter 0.5s ease-in-out;
    transition-delay: 0s;
    transition-property: transform;
    scale: 105%;
}

div.MenuHeader:hover {
    transform: scale(115%);
}

.text-slider {
    position: absolute; /* Position the background text */
    left: -0.5rem;
    color: rgba(239, 239, 239, 0.94); /* Grey text */
    width: 100%; /* Full width */
    padding: 17% 0.5rem; /* Some padding */
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    z-index: -1;
}

.hovered {
    transition: transform 1s ease-in-out;
    transition-delay: 0s;
    transition-property: transform;
    transform: translateX(30%);
}

.unhovered {
    transition: transform 1s ease-in-out;
    transition-delay: 0s;
    transition-property: transform;
    transform: translateX(0%);
}

li img {
    transition: transform 1s ease-in-out;
    transition-delay: 0s;
    transition-property: transform;
}

li img:hover {
    transform: translateX(-25%);
}

#backButton {
    display: block;
}

#underDucati {
    margin-top: 15rem;
}

#overYamaha {
    margin-bottom: 5rem;
}

.TypeTemplate {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.image-subtitle {
    position: absolute;
    right: 6%;
    color: dimgray;
}

video.opening {
    z-index: 1;
    position: fixed;
    animation-name: video-hide;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#motorcycle-flyby {
    animation-duration: 4.6s;
}

@keyframes video-hide {
    90% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        display: none;
    }
}

/* Jets Styles Start */

.text-centered {
    text-align: center;
}

.margin-top {
    margin-top: 6%;
}

.margin-bottom {
    margin-bottom: 4%;
}

.bild-container.card {
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.bild-container.card::after, .bild-container.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), rgb(63, 0, 0), rgb(255, 56, 56), rgb(63, 0, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.bild-container.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/* Back Button */

.btn1 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: black;
    background-color: #333;
    border: 10px solid var(--clr-accent);
    border-radius: 5px;

    /* Längere Version
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    */

    transition: transform 0.3s, background-color 0.3s; /* Kürzere Version, ease und 0s sind default Werte */
    /* transition: all 0.3s; Würde auch funktionieren */
}

.btn1:hover {
    transform: translateY(-10px); /* Y für oben und unten, X für Links und rechts, Stell dir vor wie Koordinatensystem aber - geht nach oben oder links und + nach unten oder rechts*/
    background-color: #444;
}

/* Container */

.jet-info-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 99.5%;
}

.jet-info {
    flex: 1;
    width: 70%;
    margin-bottom: 1%;
    margin-left: 1%;
    background-color: var(--clr-accent);
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    padding: 10px;
    text-align: left;

    transition: all 1s ease;
}

.jet-info:hover {
    transform: scale(1.02); /* Leichte Vergrößerung der Box */
    background-color: rgb(36, 36, 36); /* Hintergrund verändert sich stätig */
}

.bild-container {
    width: 30%;
    height: 30%;
    position: relative;
    top: 5px;
    display: flex;
}

.bild-container img{
    position: absolute;
}

.bild-container img {
    width: 100%;
    height: 20rem;
    transition: opacity 0.5s ease; /* Übergangslänge von einem Bild zum anderen */
}

.bild-container img.vor { /* Das Bild wenn man nicht drüber hovert */
    position: relative;
    opacity: 1; /* Sichtbar */
}

.bild-container img.hinter { /* Das Bild das erscheint wenn man drüber hovert */
    position: fixed;
    opacity: 0; /* Unsichtbar */
    width: 30%;
}

.bild-container:hover img.vor {
    opacity: 0; /* Vorne Bild wird unsichtbar */
}

.bild-container:hover img.hinter {
    opacity: 1; /* Hintere Bild wird sichtbar */
}

.bild-shadowed-round-borders {
    border-radius: 8px;     /* Abgerundete Ecken */
    /* In Kombination mit dem roten Rand wird die Stärke der roten Farbe abgeschwächt */
    box-shadow: 0 2px 10px black;
}

/* Animations */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 1.5s ease 1;
}

/* Animationen für "hidden" und "show" elemente */

.hidden1 {
    opacity: 0;
    filter: blur(5px); /* Inhalt wird etwas verschwommen angezeigt */
    transform: translateY(100%); /* Box steht am anfang ganz Links */
    transition: all 1s;
}

.show1 {
    opacity: 1;
    filter: blur(0); /* Inhalt wird nicht mehr verschwommen angezeigt */
    transform: translateY(0); /* Box wird in die Mitte verschoben */
}

/* Farbiger Text dessen Farbe sich weiter im Text verändert */

.Red_to_White {
    background: linear-gradient(to right, red, white);
    background-clip: text;
    color: transparent;
}

/* Icons */

.left-margin-for-first-icon {
    margin-left: 25%;
}

.icons {
    width: 7%;
    height: 7%;
    border-radius: 50%; /* Wird zu einem Kreis gemacht */
    margin-right: 3%;
    margin-bottom: 0.7%;
    box-shadow: 0 2px 10px black;
    padding: 0.25%;
    
    transition: all 1s ease;
}

.icons:hover {
    background-color: grey;
    padding: 0.5%; /* Vergrößert Abstand vom Bild zum Rand */
}

/* Jets Styles Ende */