* {
    color: whitesmoke;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom right, #262626, black);
    background-repeat: no-repeat;
    font-family: Bahnschrift, serif;
}

img.small {
    width: 30%;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

h2 {
    font-weight: bold;
    margin-top: 2rem;
    padding: 1rem;
}

p {
    padding: 1rem;
}

h2.header {
    text-align: center;
}

span.cool {
    display: block;
    text-align: center;
    padding: 0.5rem;
}

rem {
    color: red;
    font-size: 2.1rem;
    text-decoration: underline;
}

#lastSentence {
    padding: 0;
}

p.red {
  color: red;
  text-align: center;
}

p.blue {
  color: blue;
  text-align: center;
}

a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
}

div.MenuHeader img {
    position: absolute;
    left: 0;
    width: 100%;
    filter: brightness(50%);
}

div.MenuItem {
    position: relative; /* Position the background text */
    left: -0.5rem;
    color: rgba(239, 239, 239, 0.94); /* Grey text */
    width: 100%; /* Full width */
    padding: 17% 0.5rem; /* Some padding */
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    font-family: Monospaced;
}

div.MenuHeader:hover{
    animation-name: hover-scale;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

#backButton {
    display: block;
}

@keyframes hover-scale {
    0% {
        scale: 105%
    }
    100% {
        scale: 115%;
    }
}

